In [9]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/arizona_db')

In [11]:
zillow_data = pd.read_csv("zillow_data.csv")

In [4]:
regions_df = pd.read_csv("resources/zillow_regions.csv")

In [5]:
indicators_df = pd.read_csv("resources/zillow_indicators.csv")

In [15]:
region_indicator = zillow_data.drop(columns=['date',"value"])
region_indicator

          indicator_id  region_id
0                 ZATT       3101
1                 ZATT       3101
2                 ZATT       3101
3                 ZATT       3101
4                 ZATT       3101
...                ...        ...
124975562         Z4BR      49589
124975563         Z4BR      49589
124975564         Z4BR      49589
124975565         Z4BR      49589
124975566         Z4BR      49589

[124975567 rows x 2 columns]

In [16]:
region_indicator.to_csv('regional_indicator.csv')

In [ ]:
state_df = quandl.get_table('ZILLOW/REGIONS', region_id='8', region_type='state')
state_df

In [ ]:
counties_df = quandl.get_table('ZILLOW/REGIONS', region_type='county')
counties_df

In [ ]:
metro_df = quandl.get_table('ZILLOW/REGIONS', region_type='metro')
metro_df

In [ ]:
city_df = quandl.get_table('ZILLOW/REGIONS', region_type='city')
city_df

In [ ]:
neigh_df = quandl.get_table('ZILLOW/REGIONS', region_type='neigh')
neigh_df

In [ ]:
zip_df = quandl.get_table('ZILLOW/REGIONS', region_type='zip')
zip_df