In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/arizona_db')

In [ ]:
regional_value = pd.read_csv("regional_value.csv")
indicators = pd.read_csv("regional_indicator.csv")

In [ ]:
arizona_cities = pd.read_csv("resources/arizona_cities.csv")
arizona_counties = pd.read_csv("resources/arizona_county.csv")
arizona_metro = pd.read_csv("resources/arizona_metro.csv")
arizona_neigh = pd.read_csv("resources/arizona_neigh.csv")
arizona_zip = pd.read_csv("resources/arizona_zip.csv")

In [ ]:
arizona_cities

In [ ]:
regional_value

In [ ]:
indicators

In [ ]:
az_city = pd.merge(arizona_cities, regional_value)
az_city_value = pd.merge(az_city, indicators)
az_city_values = az_city_value.drop(columns=["Unnamed: 0"])
az_city_values

In [ ]:
az_county = pd.merge(arizona_counties, regional_value)
az_county_value = pd.merge(az_county, indicators)
az_county_values = az_county_value.drop(columns=["Unnamed: 0"])
az_county_values

In [34]:
az_metro = pd.merge(arizona_metro, regional_value)
az_metro_value = pd.merge(az_metro, indicators)
az_metro_values = az_metro_value.drop(columns=["Unnamed: 0"])
az_metro_values

       region_id region_type                region     value indicator_id
0         394976       metro           Phoenix, AZ  480225.0         ZATT
1         394976       metro           Phoenix, AZ  312937.0         ZSFH
2         394976       metro           Phoenix, AZ  305989.0         ZALL
3         394976       metro           Phoenix, AZ  202809.0         ZCON
4         394976       metro           Phoenix, AZ  223873.0         ZABT
...          ...         ...                   ...       ...          ...
46107     395098       metro  Sierra Vista, AZ; AZ  224431.0         Z4BR
46108     395098       metro  Sierra Vista, AZ; AZ  226187.0         Z4BR
46109     395098       metro  Sierra Vista, AZ; AZ  227870.0         Z4BR
46110     395098       metro  Sierra Vista, AZ; AZ  229556.0         Z4BR
46111     395098       metro  Sierra Vista, AZ; AZ  230931.0         Z4BR

[46112 rows x 5 columns]

In [36]:
az_neigh = pd.merge(arizona_neigh, regional_value)
az_neigh_value = pd.merge(az_neigh, indicators)
az_neigh_values = az_neigh_value.drop(columns=["Unnamed: 0"])
az_neigh_values.head()

,region_id,region_type,region,value,indicator_id
0,417895,neigh,The Groves; AZ; Phoenix-Mesa-Scottsdale; Maric...,402327.0,ZSFH
1,417895,neigh,The Groves; AZ; Phoenix-Mesa-Scottsdale; Maric...,398382.0,ZSFH
2,417895,neigh,The Groves; AZ; Phoenix-Mesa-Scottsdale; Maric...,357111.0,ZALL
3,417895,neigh,The Groves; AZ; Phoenix-Mesa-Scottsdale; Maric...,353448.0,ZALL
4,417895,neigh,The Groves; AZ; Phoenix-Mesa-Scottsdale; Maric...,182547.0,ZCON

In [37]:
az_zip = pd.merge(arizona_zip, regional_value)
az_zip_value = pd.merge(az_zip, indicators)
az_zip_values = az_zip_value.drop(columns=["Unnamed: 0"])
az_zip_values.head()

   region_id region_type                        region    value indicator_id
0      94940         zip  85364; AZ; Yuma; Yuma County  93553.0         ZSFH
1      94940         zip  85364; AZ; Yuma; Yuma County  93624.0         ZSFH
2      94940         zip  85364; AZ; Yuma; Yuma County  93446.0         ZSFH
3      94940         zip  85364; AZ; Yuma; Yuma County  93197.0         ZSFH
4      94940         zip  85364; AZ; Yuma; Yuma County  92809.0         ZSFH