In [34]:
import pandas as pd
import numpy as np
import quandl
from sqlalchemy import create_engine
quandl.ApiConfig.api_key = "u2YoN1JAGSj74S6MELZX"

In [35]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/arizona_db')

In [31]:
zillow_data = pd.read_csv("resources/zillow_data.csv")

In [3]:
regions_df = pd.read_csv("resources/zillow_regions.csv")

In [4]:
indicators_df = pd.read_csv("resources/zillow_indicators.csv")

In [33]:
region_value = zillow_data.drop(columns=['indicator_id','date'])
region_value

           region_id     value
0               3101  338849.0
1               3101  342993.0
2               3101  346763.0
3               3101  349356.0
4               3101  351981.0
...              ...       ...
124975562      49589  103928.0
124975563      49589  105018.0
124975564      49589  105616.0
124975565      49589  105040.0
124975566      49589  105764.0

[124975567 rows x 2 columns]

In [37]:
region_value.to_csv('regional_value.csv')

KeyboardInterrupt:

In [ ]:
state_df = quandl.get_table('ZILLOW/REGIONS', region_id='8', region_type='state')
state_df

In [ ]:
counties_df = quandl.get_table('ZILLOW/REGIONS', region_type='county')
counties_df

In [ ]:
metro_df = quandl.get_table('ZILLOW/REGIONS', region_type='metro')
metro_df

In [ ]:
city_df = quandl.get_table('ZILLOW/REGIONS', region_type='city')
city_df

In [ ]:
neigh_df = quandl.get_table('ZILLOW/REGIONS', region_type='neigh')
neigh_df

In [ ]:
zip_df = quandl.get_table('ZILLOW/REGIONS', region_type='zip')
zip_df